
.sh-contain-table {
    width: 40%;
    margin-bottom: 300px;
    margin-left: auto;
    margin-right: auto;
}

.sh-contain-table th, td {
    padding: 30px !important;
}


.sh-contain-table table th {
    font-size: 20px;
}

.sh-contain-table table td {
    font-size: 19px;
}