.images-size {
    height: 1140px;
}

#carousel-section {
    margin-top: 70px;
    width: 100%;
    position: relative;
    bottom: 60px;
    z-index: -1;
}

.carousel-control-next {
    visibility: hidden;
}

.visually-hidden {
    visibility: hidden;
}

.carousel-control-prev {
    visibility: hidden;
}

.carousel-indicators {
    visibility: hidden;
}