.header {
    margin-bottom: 50px;
    padding-top: 20px;
    height: 190px;
    width: 100%;
    background-color: rgb(25, 150, 170);
    display: flex;
}

.logo {
    width: 300px;
    height: 100px;
    position: relative;
    top: 25px;
    left: 150px;
}

.header-list {
    margin-left: 700px;
}

.header-list li {
    list-style-type: none;
    float: left;
}

.header-list .hover-style a:hover {
    color: rgb(11, 61, 69) !important;
    background-color: rgb(77, 193, 195);
    border-radius: 25px;
}

.header-list li a {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 60px 30px 56px 30px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
}